<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QPG</title>
</head>
<body>
    <form action="intermediate2.html" method="POST">
        {% csrf_token %}
        <label for="nq1">Enter the no. of sub-questions in Question 1:</label>
        <input type="number" id="nq1" name="nq1"><br>

        <label for="nq2">Enter the no. of sub-questions in Question 2:</label>
        <input type="number" id="nq2" name="nq2"><br>

        {%if nques > '2' or nques == '3' %}
            <label for="nq3">Enter the no. of sub-questions in Question 3:</label>
            <input type="number" id="nq4" name="nq3"><br>
        {%endif%}

        {%if nques > '3' or nques == '4'%}
            <label for="nq4">Enter the no. of sub-questions in Question 4:</label>
            <input type="number" id="nq4" name="nq4"><br>
        {%endif%}

        {%if nques > '4' or nques == '5'%}
            <label for="nq5">Enter the no. of sub-questions in Question 5:</label>
            <input type="number" id="nq5" name="nq5"><br>
        {%endif%}
        <button type="submit">Submit</button>
    </form>
</body>
</html>