<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QPD-Login</title>
</head>

<body>
    <form action="/login" method="POST">
        {%csrf_token%}
        <div class=form-group>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Choose a unique username" name="username">
        </div>

        <div class=form-group>
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" name="password">
        </div>

        <button type="submit">Submit</button>
    </form>
</body>

</html>