<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>{{title}} Paper</title>
    <style>
        body {
            font-weight: 200;
            font-size: 14px;
        }

        .table1,
        .table2,
        .table3,
        .table4 {
            width: 100%;
        }

        table.table1 td {
            padding: 2px 2px;
        }

        table.table1 th {
            padding: 5px auto;
        }

        table.table2 th {
            padding: 5px 5px;
            background-color: #d3d3d3;
        }

        table.table3 td {
            padding: 10px 0;
            text-align: left;
        }

        table.table4 td {
            padding: 10px auto;
            background-color: #d3d3d3;
        }

        .child {
            max-width: 90%;
            margin: 0 auto;
        }

        .details {
            padding: 10px 20px 0px 20px;
            text-align: left !important;
            max-width: 90%;
            margin: 0 auto;
        }

        .hrItem {
            border: none;
            height: 1px;
            /* Set the hr color */
            color: #333;
            /* old IE */
            background-color: #fff;
            /* Modern Browsers */
        }
    </style>
</head>

<body>
    <div class="child">
        <table class="table1" border="1" cellspacing="0">
            <tr>
                <th style="width:100px"><img src="http://pccoer.com/images/main-logo.png" width="200" height="200" />
                </th>
                <td style="text-align: center">
                    Pimpri Chinchwad Education Trusts <br>
                    <b>Pimpri Chinchwad College of Engineering & Research, Ravet, Pune</b>
                </td>
                <th style="width:100px">
                    Record No. <br> <b>ACAD/R/11</b>
                </th>
            </tr>
        </table>
        <table class="table2" border="1" cellspacing="0">
            <tr>
                <th>
                    Academic <br />
                    Year:{{ayear}}
                </th>
                <th>{{test_name}}</th>
                <th>Term: {{term}}</th>
            </tr>
        </table>
        <hr>

        <table class="table3">
            <tr>
                <td><b>Department: {{dep}}</b></td>
                <td><b>Class: {{year}}</b></td>
                <td><b>Div: {{div}}</b></td>
            </tr>
            <tr>
                <td><b>Subject: {{sub}}</b></td>
                <td><b>Maximum Marks: {{tmarks}}</b></td>
                <td><b>Time: {{ttime}}</b></td>
            </tr>
        </table>
        <table class="table4">
            <tr>
                <td><b>Subject Code: {{subcode}}</b></td>
                <td><b>Date: {{date}}</b></td>
            </tr>
        </table>
    </div>
    <hr>

    <div class="details">
        <p>
            <b>
                <i>Note:
                    <br> 1. Solve Que 1 or Que2 and Que3 or Que4 and Que5 or Que6
                    <br>
                    2. Figure to the right side indicates full marks.
                </i>
            </b>
        </p>
        <hr>
        {%if qno1 > 0%}
        <table style="border: 1px solid black;">
            {%for i,j in fquestions1%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.1] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 50%;">
                    (Marks {{i.marks}})<br><b> [{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        {%if qno1 > 0%}
        <p style="text-align: center;"><b>OR</b></p>
        <table style="border: 1px solid black;">
            {%for i,j in or_fquestions1%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.2] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 40%;">
                    (Marks {{i.marks}})<br><b>[{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}

        {%if qno2 > 0%}
        <br>
        <table style="border: 1px solid black;">
            {%for i,j in fquestions2%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.3] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 40%;">
                    (Marks {{i.marks}})<br><b>[{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        {%if qno2 > 0%}
        <p style="text-align: center;"><b>OR</b></p>
        <table style="border: 1px solid black;">
            {%for i,j in or_fquestions2%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.4] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 40%;">
                    (Marks {{i.marks}})<br><b>[{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        <br>
        {%endif%}

        {%if qno3 > 0%}
        <br>
        <table style="border: 1px solid black;">
            {%for i,j in fquestions3%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.5] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 50%;">
                    (Marks {{i.marks}})<br><b> [{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        {%if qno3 > 0%}
        <p style="text-align: center;"><b>OR</b></p>
        <table style="border: 1px solid black;">
            {%for i,j in or_fquestions3%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.6] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 40%;">
                    (Marks {{i.marks}})<br><b>[{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}

        {%if qno4 > 0%}
        <br>
        <table style="border: 1px solid black;">
            {%for i,j in fquestions4%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.7] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 50%;">
                    (Marks {{i.marks}})<br><b> [{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        {%if qno4 > 0%}
        <p style="text-align: center;"><b>OR</b></p>
        <table style="border: 1px solid black;">
            {%for i,j in or_fquestions4%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.8] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 40%;">
                    (Marks {{i.marks}})<br><b>[{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        {%if qno5 > 0%}
        <br>
        <table style="border: 1px solid black;">
            {%for i,j in fquestions5%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.9] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 50%;">
                    (Marks {{i.marks}})<br><b> [{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        {%if qno5 > 0%}
        <p style="text-align: center;"><b>OR</b></p>
        <table style="border: 1px solid black;">
            {%for i,j in or_fquestions5%}
            <tr>
                <td style="width:90px; padding: 50%;">
                    <b>Q.10] {{j}}</b>
                </td>
                <td style="padding: 50%;">
                    <b>{{i.question}}</b>
                </td>
                <td style="width:110px; padding: 40%;">
                    (Marks {{i.marks}})<br><b>[{{i.co}},BT {{i.bt}}]</b>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        <p>************************************************************END***********************************************************
        </p>
        <br>
    </div>
</body>

</html>